body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    max-width: 100vw;
    gap: 10px;
}

.terminal-window {
    width: 100%;
    min-width: 300px;
    margin: 0;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: hsla(0, 0%, 100%, 0.15);
    max-height: 95vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.terminal-header {
    background-color: #0f0f0f;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

/* Status buttons */
.terminal-header .close-btn { background-color: #ff3b47; }
.terminal-header .minimize-btn { background-color: #ffc106; }
.terminal-header .maximize-btn { background-color: #00e676; }

.green, .prompt { color: #00ff00; }
.folder { color: #d3a5fd; }
.executable { color: #8ab6ff; }

/* Terminal content */
.terminal-body {
    padding: 10px;
    max-height: 80vh;
    min-height: 200px;
    overflow-y: auto;
    flex: 1;
}

.terminal-output {
    margin-bottom: 10px;
}

.terminal-input {
    display: flex;
    align-items: center;
}

/* Input styling */
input[type="text"] {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

/* CLI Help styling */
.cli-help {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    width: 100%;
}

.cli-help pre {
    margin: 0;
    padding: 10px; /* Adds padding for readability */
    line-height: 1.5;
}

.cli-help .command {
    font-weight: bold;
    color: #8ab6ff;
}

/* GUI container */
.gui {
    font-family: Arial, sans-serif;
    color: #eee;
    margin: 0 auto;
    padding: 0;
    display: none; /* Hidden by default */
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
}

.gui .container {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.gui h1, .gui h2, .gui h3, .gui ul li, .gui ul { color: #eee; }

.gui .section { margin-bottom: 20px; }

.a, a:visited, a:link, a:hover, a:active {
    color: #00ff00;
    text-decoration: none;
}

